/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
html, body {
  min-height: 100%;
}
html {
  background: url(https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09);
  background-size: cover;
}
ol, ul {
  list-style: none;
}
body {
  font-family: 'Ubuntu';
  background: rgba(255,255,255,0.7);
  text-align: center;
  line-height: 120%;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
}
h1 {
  font-weight: bold;
  padding: 60px 0 0 0;
  text-transform: uppercase;
  font-size:29px;
  color: #333;
  text-shadow:0 1px 0 #fff;
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #ffffffff,Positive = true)";
  zoom:1;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #ffffffff,Positive = true);
}
h1 span {
  font-size: 18px;
}
h1 a {
  text-decoration: none;
  color: #333;
}
.userbar {
  float: right;
  margin-top: -5em;
}
.footer {
  font-size:14px;
  color: #000;
  padding: 45px 0;
}
.alert-success, .alert-danger {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  width: 200px;
  margin: 0 auto;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.popup  {
  display: none;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 3px;
  color: #333;
  font-size: 14px;
  left: 50%;
  margin-left: -100px;
  position: fixed;
  top: 20%;
  width: 200px;
  z-index: 10;
}
.mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.popup a, .popup a:link, .popup a:visited, .popup a:hover, .popup a:active  {
  float: right;
  padding: 5px;
  color: #444;
  text-decoration: none;
 }
.popup form {
  text-align: left;
  padding: 10px;
}
.popup input[type="text"] {
  margin: 10px 0;
  border: 1px solid #ccc;
  max-width: 170px;
  text-overflow: ellipsis;
}
.popup input[type="submit"] {
 -moz-box-shadow:inset 0 1px 0 0 #fff;
-webkit-box-shadow:inset 0 1px 0 0 #fff;
  box-shadow:inset 0 1px 0 0 #fff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c7bb9), color-stop(1, #365da4) );
  background:-moz-linear-gradient( center top, #4c7bb9 5%, #365da4 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c7bb9', endColorstr='#365da4');
  background-color:#4c7bb9;
  border-radius:4px;
  border:1px solid #315689;
  display:inline-block;
  color:#fff;
  font: bold 14px Arial, Helvetica, sans-serif;
  padding: 5px;
  text-decoration:none; 
}
.popup input[type="submit"]:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #365da4), color-stop(1, #4c7bb9) );
  background:-moz-linear-gradient( center top, #365da4 5%, #4c7bb9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#365da4', endColorstr='#4c7bb9');
  background-color:#365da4;
}