// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin linear-gradient($fromColor, $toColor) {
  background-color: $fromColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}
@mixin inset-box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $spread: 0px, $color: #CCC) {
  -webkit-box-shadow: inset $horizontal $vertical $blur $spread $color;
  -moz-box-shadow: inset $horizontal $vertical $blur $spread $color;
  box-shadow: inset $horizontal $vertical $blur $spread $color;
}
@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: $horizontal $vertical $blur $color;
  -moz-box-shadow: $horizontal $vertical $blur $color;
  box-shadow: $horizontal $vertical $blur $color;
}
.new-list {
  @include inset-box-shadow(0, 1px, 0, 0, #fff);
  @include linear-gradient(#4c7bb9, #365da4);
  border-radius:4px;
  border:1px solid #315689;
  display:inline-block;
  color:#fff;
  font: bold 16px Arial, Helvetica, sans-serif;
  padding:10px 5px;
  text-decoration:none;
  margin: 10px 0 0 0;
}
.new-list:hover {
  @include linear-gradient(#365da4, #4c7bb9);
}
.new-list:active {
    position:relative;
    top:1px;
}
.new-list span {
  background: url("blue_plus.png") no-repeat 1px 0px scroll;
  padding: 2px 10px 2px 32px;
}
.project {
   position: relative;
   margin: 3em auto 40px;
   width:700px;
   background: #fff;
   font-family: Arial, Helvetica, sans-serif;
   text-align: left;
   border-radius: 12px;
   @include box-shadow(0, 2px, 0, rgba(0,0,0,0.5));
}
.project h2 {
  font: bold 20px Arial, Helvetica, sans-serif;
  @include linear-gradient(#5183be, #375d9e);
  border:1px solid rgb(49,85,137);
  @include inset-box-shadow(0, 1px, 0, 0, rgba(255,255,255,0.35));
  color: #fff;
  padding: 15px;
  margin: 0 0 45px;
}
h2 span {
    background: url('list_icon.png') no-repeat top left scroll;
    padding: 5px 0 0 45px;
}
.edit_project {
    background: url('list_edit_icon.png') center left no-repeat;
    text-indent: -9999px;
    float: right;
    margin: -84px 50px 0 0;
    border-right: 1px solid #5284bf;
    width: 30px;
}
.delete-list {
    background: url('delete_list_icon.png') center left no-repeat;
    text-indent: -9999px;
    float: right;
    margin: -84px 0 0 0;
    height: 20px;
    width: 40px;
}