<!DOCTYPE html>
<html>
<head>
  <title>Todo lists</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Simple todo lists<span><br/>written on Rails 3 and jQuery</span></h1>
<%= yield %>
<div class="footer">
<p>&copy Valerie</p>
</div>
</html>
